<!DOCTYPE html>
<html xmlns:th="httts://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DEMOTH CREAR</title>
</head>
<body>
<h1>Formulario crear cliente</h1>
<form th:action="@{/demoth/crear}" th:object="${cliente}" method="post"></form>

<label>Nombre</label>
<input th:field="*{nombre}*">

<br>

<label>Apellido 1</label>
<input th:field="*{apellido1}*">

<br>

<label>Apellido 2</label>
<input th:field="*{apellido2}*">

<br>

<button type="submit">Enviar</button>
</form>
</body>
</html>